{
  "name": "@typed-clickhouse/${node_pkg}",
  "version": "${node_version}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "repository": {
    "type": "git",
    "url": "https://github.com/bayoudhi/moosestack"
  },
  "files": [
    "bin",
    "THIRD-PARTY-NOTICES.md"
  ]
}